.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
CalcZ-notes.Rmd
_bookdown_files/CalcZ-notes_files/
_bookdown_files/CalcZ-notes_cache/
accum-advanced-algebra.html
antidiff-review.html
approximation-near-a-reference-input.html
change-accumulation.html
change-relationships.html
computing-derivs.html
cont-and-smooth.html
convexity-and-curvature.html
dimensions.html
evanescent-h.html
fun-assembling.html
fun-multiple-inputs.html
fun-piecewise.html
fun-slopes.html
function-inverses-and-solving.html
iteration-and-accumulation.html
local-approximations.html
magnitudes.html
net-change.html
optim-and-shape.html
outline-of-block-2.html
outline-of-block-3.html
partial-change.html
prod-comp-rules.html

